%nav.navbar.navbar-inverse.navbar-fixed-top
  .container
    .navbar-header
      %a.navbar-brand(href='#/') Angular 2
    .navbar-collapse
      %ul.nav.navbar-nav
        %li
          %a(href='#/cards')
            Cards
        %li
          %a(href='#/about')
            About
      %ul.nav.navbar-nav.navbar-right
        = render 'shared/switch_framework_dropdown'
        %li
          %a(href ng-click='sessionCtrl.signIn()' ng-hide='sessionCtrl.signedIn')
            Sign in
          -# %a(href ng-click='sessionCtrl.signOut()' ng-show='sessionCtrl.signedIn')
            Sign out
