%body(ng-app='cards-mvc' ng-controller='SessionController as sessionCtrl')
  %nav.navbar.navbar-inverse.navbar-fixed-top
    .container
      .navbar-header
        %a.navbar-brand(href='#/') Angular
      .navbar-collapse
        %ul.nav.navbar-nav
          %li
            %a(href='#/cards')
              Cards
          %li
            %a(href='#/about')
              About
        %ul.nav.navbar-nav.navbar-right
          = render 'shared/switch_framework_dropdown'
          %li
            %a(href ng-click='sessionCtrl.signIn()' ng-hide='sessionCtrl.signedIn')
              Sign in
            %a(href ng-click='sessionCtrl.signOut()' ng-show='sessionCtrl.signedIn')
              Sign out

  .container(ng-controller='FlashesController as flashesCtrl')
    .flashes
      .row(ng-repeat='flash in flashesCtrl.flashes')
        .alert(class='alert-{{flash.severity}}')
          {{ flash.message }}


  .container
    %ng-view

  = javascript_include_tag 'angular/app'
  :coffee
    @CardsMvc.run (Session) ->
      Session.set(#{signed_in})
