%li.dropdown
  %a.dropdown-toggle(href data-toggle='dropdown')
    Switch framework
    %span.caret
  %ul.dropdown-menu
    %li
      %a(href='/angular')
        Angular
    %li
      %a(href='/ember')
        Ember
    %li
      %a(href='/riot')
        Riot
    %li
      %a(href='/react')
        React
    %li
      %a(href='/ng2')
        Angular 2
    %li
      %a(href='/vue')
        Vue
