.row
  %h1
    .pull-right(ng-show='sessionCtrl.signedIn')
      %a.btn.btn-default(ng-href='#/cards/new')
        New card
    Cards

%p

.row
  %form
    .form-group
      %input.form-control{'#input' => true, 'type' => 'search', 'placeholder' => 'Search…', '[value]' => 'query', '(input)' => 'searchEvent.next(input.value)'}


%p

.row
  .text-center{'*ngIf' => 'loading'}
    %i.material-icons.spin
      cached

  %table.table{'*ngIf' => '!loading'}
    %tr{'*ngFor' => '#card of cards'}
      %td
        %a{'[routerLink]' => "['../Show', { id: card.id }]"} {{ card.title }}
      %td.text-right(ng-show='sessionCtrl.signedIn')
        %a.btn.btn-default{'[routerLink]' => "['../Edit', { id: card.id }]"} Edit

  %cmvc-pagination{'[info]' => 'cards.meta.pagination', '(navigate)' => 'goToPage($event.page)', '*ngIf' => '!loading'}
