.row
  %h1
    -# TODO .pull-right(ng-show='sessionCtrl.signedIn')
      %a.btn.btn-default(ng-href='#/cards/new')
        New card
    Cards

%p

.row
  %form
    .form-group
      %input.form-control(type='search' placeholder='Search…' v-model='queryInput' v-on:input='queryChanged')


%p

.row
  .text-center(v-show='loading')
    %i.material-icons.spin
      cached

  %table.table(v-show='!loading')
    %tr(v-for='card in cards')
      %td
        %a(v-link='{ path: "/cards/" + card.id }') {{ card.title }}
      -# TODO %td.text-right(ng-show='sessionCtrl.signedIn')
        %a.btn.btn-default(ng-href='#/cards/{{ card.id }}/edit') Edit

  %pagination(v-bind:info='cards.meta && cards.meta.pagination' v-bind:go-to='goToPage' v-if='!loading')
