%form(name='cardForm' ng-submit='ctrl.save(cardForm)')
  .form-group(errors-for='title')
    %label.control-label
      Title
    %input.form-control(type='text' name='title' ng-model='ctrl.card.title')

  .form-group(errors-for='body')
    %label.control-label
      Body
    %textarea.form-control(name='body' ng-model='ctrl.card.body')

  %button.btn.btn-primary(type='submit')
    {{ ctrl.card.id ? "Update" : "Create" }}
