%h1
  .pull-right(ng-show='sessionCtrl.signedIn')
    %a.btn.btn-default(ng-href='#/cards/{{ctrl.card.id}}/edit')
      Edit
  {{ ctrl.card.title }}

%tabs
  %tab(title='1')
    .body(ng-bind-html='ctrl.card.body')
  %tab(ng-repeat='page in ctrl.card.extra_pages' title='{{ $index + 2 }}')
    .body(ng-bind-html='page.body')
