%body
  %nav.navbar.navbar-inverse.navbar-fixed-top
    .container
      .navbar-header
        %a.navbar-brand(href='/riot') Riot
      .navbar-collapse
        %ul.nav.navbar-nav
          %li.active
            %a(href='#/cards')
              Cards
          %li
            %a(href='#/about')
              About
        %ul.nav.navbar-nav.navbar-right
          = render 'shared/switch_framework_dropdown'
          %li
            %a
              Sign in
            %a.hidden
              Sign out

  .container

    %hello

  = javascript_include_tag 'riot/app'
