%body
  %navigation
    = render 'shared/switch_framework_dropdown'

  .container

    %outlet

  = javascript_include_tag 'riot/app'
  :coffee
    @app.setCsrfToken(#{form_authenticity_token.to_json})
