<outlet>
  <script type='coffee'>

    currentTags = []

    mount = (tag, options) =>
      $root = $(@root)

      currentTag.unmount() for currentTag in currentTags
      $root.empty()

      newTag = $("<#{tag}/>")
      $root.append(newTag)
      currentTags = riot.mount(newTag, options)

    @on 'unmount', =>
      opts.router.off 'route', mount

    opts.router.on 'route', mount
  </script>
</outlet>
