<outlet>
  <script type='coffee'>

    currentTags = []

    mount = (tag, options) =>
      currentTag.unmount() for currentTag in currentTags
      @$root.empty()

      newTag = $("<#{tag}/>")
      @$root.append(newTag)
      currentTags = riot.mount(newTag, options)

    @on 'mount', =>
      @$root = $(@root)
      opts.router.on 'route', mount

    @on 'unmount', =>
      opts.router.off 'route', mount
  </script>
</outlet>
