<tab>
  <div tab class='tab-pane' if={ active }>
    <yield />
  </div>

  <script type="coffee">
    tabsTag = opts.tabs || @parent

    @title = opts.title

    tabsTag.registerTab(@)

    @on 'unmount', =>
      tabsTag.unregisterTab(@)

  </script>
</tab>
