!!!
%html
  %head
    %title
      Cards Mvc
    %meta(charset='utf-8')
    %meta(name='viewport' content='width=device-width, initial-scale=1')
    = stylesheet_link_tag 'application', media: 'all'
    = stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en'
    = stylesheet_link_tag 'https://fonts.googleapis.com/icon?family=Material+Icons'

  = yield
